<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <appSettings>
    <add key="ida:ClientId" value="Enter_the_Application_Id_here" />
    <add key="ida:ClientSecret" value="Enter_the_Client_Secret_here" />
    <add key="ida:Tenant" value="common" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}{1}" />
    <add key="ida:RedirectUrl" value="Enter_the_Redirect_Url_here" />
  </appSettings>
  
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
</configuration>
